body {
  font-family: 'Fredoka One', cursive;
  color: #333;
}
p {
  font-family: 'Open Sans', sans-serif;
}

.spacer {
  height: 75px
}

.centered-emoji__link {
  height: 72px;
  width: 72px;
  margin; 0 auto;
}

.emoji-menu__label {

}

.alert-danger {
  color: red;
}
.emoji-box {
  height: 250px;
  width: 100%;
  overflow: scroll;
}

.emoji-picker li {
  margin: 0;
  padding: 0;
  cursor:pointer;
  float: left;
  width: 20px;
  min-height: 20px;
}

.emoji-box-prompt {
  height: 500px;
  width: 100%;
  overflow: scroll;
}

.emoji-picker-prompt li {
  margin: 0;
  padding: 0;
  cursor:pointer;
  float: left;
  font-size: 36px;
  width: 42px;
  min-height: 42px;
}
