<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo center">Emojination</a>
        <div ng-if=" main.currentUser.username !== nil">
          <ul class="left hide-on-med-and-down">
            <li>Welcome, {{ main.currentUser.username }}!</li>
          </ul>
        </div>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="profile">Home</a></li>
        <li><a ui-sref="prompts">Browse Topics</a></li>

            <!-- Dropdown Trigger -->
            <li ng-if=" main.currentUser.username !== nil"><a class='dropdown-button ' href='javascript:void(0);' data-activates='navDropdown' dropdown data-hover="true">
            Profile
            </a></li>
      </ul>

      </ul>
    </div>
  </nav>
</div>

<!-- Dropdown Structure -->
<ul id='navDropdown' class='dropdown-content'>
    <li><a href="javascript:void(0);" ui-sref="profile-edit">Edit Profile</a></li>
    <li><a href="javascript:void(0);">Your Stories</a></li>
    <li><a href="javascript:void(0);">Your Up Votes</a></li>
    <div ng-controller="logoutController as logoutCtrl">
      <li><a ng-click='logoutCtrl.logout()'>Log Out</a></li></div>
</ul>
