
    <div class="row">
      <div class="col s8 offset-s2 center-align">
        <h3>It's story time!</h3>
        <p>Someday these buttons will be hotlinked emojis</p>
      </div>
    </div>
    <div class="row">
      <div class="col s4 offset-s2 center-align">
        <a ui-sref="login" class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>Login</a>
      </div>
      <div class="col s4 center-align">
        <a ui-sref="register" class="waves-effect waves-light btn">Register</a>
      </div>
    </div>
    <div class="row">
      <div class="col s8 offset-s2 center-align">
        <p>imagine all sorts of neat stuff here, such a parallax page with a summary of how the site works. Hecka hecka css animations...</p>
      </div>
    </div>
