<div class="row center-align">
  <div class="col m10 s12 offset-m1 offset-s0">
    <h4>{{ main.salutation }}</h4>
  </div>
</div>

<div class="spacer"></div>

<div class="row">
  <div class="col s4">
    <a ui-sref="profile">
      <h2 class="center-align emoji-icon" ng-bind-html="main.randomEmojis[0] | twemoji"></h2>
      <h6 class="center-align">Your Profile</h6>
    </a>
  </div>
  <div class="col s4">
    <a ui-sref="prompts">
      <h2 class="center-align emoji-icon" ng-bind-html="main.randomEmojis[2] | twemoji"></h2>
      <h6 class="center-align">Browse Prompts</h6>
    </a>
  </div>
  <div class="col s4">
    <a ui-sref="prompt-new">
      <h2 class="center-align emoji-icon" ng-bind-html="main.randomEmojis[3] | twemoji"></h2>
      <h6 class="center-align">Add New Prompt</h6>
    </a>
  </div>
  <!-- <div class="col s4 m2">
    <a ui-sref="story-rankings">
      <h2 class="center-align" ng-bind-html="main.randomEmojis[4] | twemoji"></h2>
      <h6 class="center-align">Top Stories</h6>
    </a>
  </div> -->
</div>
