<h4 class="center-align">{{ main.sup }}</h4>

<div class="mini-spacer"></div>

<div class="row">
  <div class="col s6 offset-m3">
    <h4 class="center-align">{{ main.currentUser.username}}</h4>
    <h3 class="center-align emoji-icon" ng-bind-html="main.currentUser.avatar"></h3>
    <p class="center-align"><big><b>Bio:</b></big> {{ main.currentUser.bio }}</p>
  </div>

      <!-- This ng-repeat is not working -->
  <!-- <div class="col s6">
    <h6 class="center-align">Stories</h6>
    <ul ng-repeat="story in userStories" class="right-align">
      <li> {{ story.prompt }}: {{ story.body }}</li>
    </ul>
  </div> -->


</div> <!-- closes row -->

<div class="spacer"></div>
<div class="spacer"></div>

<div class="row">
  <div class="col s12 m6 offset-m3 center-align">
    <a ui-sref="profile-edit">
      <button class="waves-effect waves-light btn" ng-class="main.color">Edit Profile</button>
    </a>
  </div>
</div>
