<div class="row">
  <div class="col s12">
    <h4 class="center-align">Edit {{ main.currentUser.username }}'s Profile  <ng-bind-html ng-bind-html="main.currentUser.avatar | twemoji"</h4>
  </div>
</div>

<form class="form" ng-submit="main.editUser(main.currentUser._id)">
  <div class="row">
    <div class="col s12 m6">
      <label for="textarea1">Your Bio <b>*required</b></label>
        <textarea  id="textarea1" class="materialize-textarea form-control" ng-model="main.editForm.bio" placeholder="{{ main.currentUser.bio }}" value="hello"></textarea>


    </div>
    <div class="col s12 m6">
      <label>Change your emoji (scroll down for more): </label>
      <h4 class="center-align" ng-bind-html="main.editForm.avatar | twemoji"> </h4>
      <div class="emoji-box">
        <ul class="emoji-picker" ng-repeat="emoji in main.emojisArr">
          <li ng-click="main.avatarSelector(emoji)" class="emoji-picker" ng-bind-html="main.emojis[$index] | twemoji"></li>
        </ul>
      </div>
    </div>

   </div> <!--close row -->

  <div class="row">
    <div class="col s12">
      <button type="submit" class="waves-effect waves-light btn">Submit</button>
    </div>
  </div>

</form>
