<div class="row">
  <div class="col m8 s12 offset-m2 offset-s0 center-align">
    <h4>Br<small ng-bind-html="main.randomOhs[3] | twemoji"></small>wse Pr<small ng-bind-html="main.randomOhs[4] | twemoji"></small>mpts</h4>
  </div>
</div>
<div class="row">
  <div class="col m8 s12 offset-m2 offset-s0 center-align">
    <p>
      {{ main.prompts[0]}}
      
      Building this view won't be so bad. Create a ng-repeat table/collection in here that lists the prompts, # of stories, and time of most recent contribution. Gonna need <a href="http://materializecss.com/collapsible.html#popout">this page</a>.
    </p>
  </div>
</div>
