<div class="row">
  <div class="col m8 s12 offset-m2 offset-s0 center-align">
    <h4>Br<small ng-bind-html="main.randomOhs[3] | twemoji"></small>wse Pr<small ng-bind-html="main.randomOhs[4] | twemoji"></small>mpts</h4>
    <h6>You know one is calling out to you. C'mon. Give it a click.</h6>
  </div>
</div>
<div class="row">
  <div class="col s12 center-align">
      <ul>
        <a ng-repeat="prompt in main.prompts track by $index" class="{{main.color + '-text'}}" ui-sref="prompts-show({id:prompt._id})">Prompt:
          <li class="emoji-icon-small" ng-click="main.setPrompt(prompt)" class="collection-item" ng-bind-html="prompt.body | twemoji"></li>
        </a>
      </ul>
  </div>
</div>
