<div class="row">
  <div class="col s12">
    <h4 class="center-align">Click on emojis to add them to the prompt: </h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <h4 ng-bind-html="main.newPrompt | twemoji"></h4>
  </div>
</div>


<div class="row">
  <div class="col s12 emoji-box-prompt">
    <ul class="emoji-picker-prompt" ng-repeat="emoji in main.emojisArr">
      <li ng-click="main.newPrompt(emoji)" class="emoji-picker-prompt" ng-bind-html="main.emojis[$index] | twemoji"></li>
    </ul>
  </div>
</div>
