  <div class="row">
    <div class="col s12">
      <p>
      <h1 class="center-align">Get an account and start writing stories</h1>
      <div ng-show="registerCtrl.error" class="alert alert-danger">{{registerCtrl.errorMessage}}</div>
    </div>
  </div>
<form class="form" ng-submit="registerCtrl.register()">
  <div class="row">
    <div class="col s12 m6">
      <label>Username</label>
      <input type="text" class="form-control" placeholder="username" name="username" ng-model="registerCtrl.registerForm.username" required>
      <label>Password</label>
        <input type="password" class="form-control" name="password" ng-model="registerCtrl.registerForm.password" required>
      <button type="submit" class="waves-effect waves-light btn center-align" ng-disabled="registerCtrl.disabled">Register</button>
    </div>
    <div class="col s12 m6">
      <p>Choose an emoji to represent you (scroll down for more): </p>
      <h4 class="center-align" ng-if="registerCtrl.registerForm.avatar" ng-bind-html="registerCtrl.registerForm.avatar | twemoji"></h4>
      <div class="emoji-box">
        <ul class="emoji-picker" ng-repeat="emoji in registerCtrl.emojisArr">
          <li ng-click="registerCtrl.avatarSelector(emoji)" class="emoji-picker" ng-bind-html="registerCtrl.emojis[$index] | twemoji"></li>
        </ul>
      </div>
    </div>
  </div>
</form>
